body {
    font-family: 'Josefin Slab', serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #3a3a3a;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    font-family: 'Fredericka the Great', cursive;
}

html {
    height: 100%;
}

p {
    font-size: 1.5em;
}

section {
    background-color: #AF927D;
    text-shadow: 0px 1px 1px #dcdcdc;
    color: #3a3a3a;
}

section > * {
    margin: 10px;
}

body, section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
